<header class="menu menu-height bg-162447">
    <div class="layui-row">
        <div class="layui-col-md3 layui-col-md-offset2">
            <div class="m-logo">
                <a href="/">
                    <img src="<%- site_logo %>" class="logo-img" title=<%=name%> />
                </a>
            </div>
        </div>
    </div>
</header>